[oracle]
dsn: %__ora_user__%/%__ora_password__%@%__ora_tns__%

[queries]
# Query type (e.g. DF process for which it is used).
# To be used if the stage is to be used in multiple scenarios
# with different query sets.
# The value will be mapped to queries subdir in the stage
# source directory; if not specified, the queries directory
# itself will be used.
type: data4es

# Comma-separated list of query names to use (no spaces).
use: tasks,datasets

[queries.params]
# Query parameters for all queries:
# string '%(<param_name>)s' in sql file will be replaced
# with the value of <param_name> (if value is quoted, quotes
# will appear in the query as well).
# NOTE: when this section is presented, make sure SQL queries does
# not contain other percent signs ('%'), or that they all are escaped ('%%').

# Production or analysis condition:
# * > -- production,
# * = -- analysis.
production_or_analysis_cond = >

[process]
# Query response processing mode:
#  PLAIN   -- pass records to output independently of each other
#             (currently: 'tasks' query only),
#  SQUASH  -- link 'datasets' records to 'task', joining them into a single
#             record.
mode = SQUASH

[timestamps]
# Initial timestamp (e.g. 01-05-2016 00:00:00).
initial = %__009_init_offset__%
# Final timestamp (e.g. 10-05-2016 00:00:00).
final = %__009_final_offset__%
# Offset from current timestamp (e.g. 86400 <=> 86400s <=> 1d; 8h; 15m).
step = %__009_step__%
# Delay (e.g. 86400 <=> 86400s <=> 1d; 8h; 15m).
# This parameter can be used to adjust 'now'.
# For example, running the script at 10-05-2016 12:00:00 with
# delay = 2h will set 'final' to 10-05-2016 10:00:00.
# Has no effect if the right border of the data taking interval is
# set explicitly.
# Cannot be negative.
delay = %__009_delay__%

# Time zone of timestamps (default: local timezone).
tz = UTC

[logging]
# Current offset file
# (relative to the dir with the config file or absolute path).
offset_file = %__009_offset_file__%
