[common]
loglevel = DEBUG

[client]
rucio_host = https://voatlasrucio-server-prod.cern.ch:443
auth_host = https://voatlasrucio-auth-prod.cern.ch:443
ca_cert = /etc/pki/tls/certs/CERN-bundle.pem
account = %%USER%%
client_cert = /FULL/PATH/TO/REPO/Utils/Dataflow/091_datasetsRucio/.rucio/auth/crt.pem
client_key = /FULL/PATH/TO/REPO/Utils/Dataflow/091_datasetsRucio/.rucio/auth/key.pem
auth_type = x509
request_retries = 3
